<section class="jm-craft">
  <div class="page-inner">
    <div class="content-inner">

      <div class="jm-craft__ttlArea">
        {% if section.settings.heading != blank %}
          <h2 class="jm-section__title">
            {{ section.settings.heading }}
          </h2>
        {% endif %}
        {% if section.settings.sub_jp != blank %}
          <p class="jm-section__subJp">
            {{ section.settings.sub_jp }}
          </p>
        {% endif %}
        {% if section.settings.subheading != blank %}
          <p class="jm-section__subtitle">
            {{ section.settings.subheading }}
          </p>
        {% endif %}
      </div>

      <div class="jm-craft__inner">
        <div class="jm-craft__imgArea">
          {% if section.settings.image != blank %}
            <div class="jm-craft__image">
              {{ section.settings.image | image_url: width: 576 | image_tag: loading: 'lazy'}}
              <span class="jm-craft__overlay" style="opacity: {{ section.settings.overlay_opacity | divided_by: 100.0 }};"></span>
              </div>
          {% endif %}
        </div>
        <div class="jm-craft__txtArea">
          <ul class="jm-craft__points">
            <li class="jm-craft__point">
              <h3 class="jm-craft__ttl">{{ section.settings.point1_title }}</h3>
              <p class="jm-craft__text">{{ section.settings.point1_text }}</p>
            </li>
            <li class="jm-craft__point">
              <h3 class="jm-craft__ttl">{{ section.settings.point2_title }}</h3>
              <p class="jm-craft__text">{{ section.settings.point2_text }}</p>
            </li>
            <li class="jm-craft__point">
              <h3 class="jm-craft__ttl">{{ section.settings.point3_title }}</h3>
              <p class="jm-craft__text">{{ section.settings.point3_text }}</p>
            </li>
            <li class="jm-craft__point">
              <h3 class="jm-craft__ttl">{{ section.settings.point4_title }}</h3>
              <p class="jm-craft__text">{{ section.settings.point4_text }}</p>
            </li>
          </ul>
        </div>
      </div>

    </div>
  </div>
</section>

{% schema %}
{
  "name": "Craft & Philosophy",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Section Title",
      "default": "CRAFT & PHILOSOPHY"
    },
    {
      "type": "text",
      "id": "sub_jp",
      "label": "JP Title",
      "default": "美しさは結果である"
    },
    {
      "type": "text",
      "id": "subheading",
      "label": "Sub Title",
      "default": "Crafted slowly, with intention."
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "画像"
    },
    {
      "type": "range",
      "id": "overlay_opacity",
      "label": "画像の暗さ（オーバーレイ）",
      "min": 0,
      "max": 70,
      "step": 5,
      "unit": "%",
      "default": 20
    },
    {
      "type": "header",
      "content": "こだわり①"
    },
    {
      "type": "text",
      "id": "point1_title",
      "label": "見出し",
      "default": "Hand-picked leaves"
    },
    {
      "type": "textarea",
      "id": "point1_text",
      "label": "説明文",
      "default": "Only young leaves are carefully selected by hand."
    },

    {
      "type": "header",
      "content": "こだわり②"
    },
    {
      "type": "text",
      "id": "point2_title",
      "label": "見出し",
      "default": "Stone-ground process"
    },
    {
      "type": "textarea",
      "id": "point2_text",
      "label": "説明文",
      "default": "Ground slowly to preserve aroma and nutrients."
    },

    {
      "type": "header",
      "content": "こだわり③"
    },
    {
      "type": "text",
      "id": "point3_title",
      "label": "見出し",
      "default": "Freshness control"
    },
    {
      "type": "textarea",
      "id": "point3_text",
      "label": "説明文",
      "default": "Processed and stored under strict conditions."
    },
      {
      "type": "header",
      "content": "こだわり④"
    },
    {
      "type": "text",
      "id": "point4_title",
      "label": "見出し",
      "default": "Freshness control"
    },
    {
      "type": "textarea",
      "id": "point4_text",
      "label": "説明文",
      "default": "Processed and stored under strict conditions."
    }
  ],
  "presets": [
    {
      "name": "Craft & Philosophy",
      "category": "About"
    }
  ]
}
{% endschema %}
